@charset "UTF-8";
body{
    text-align: center;
}
table{
    border-collapse: collapse;
    max-width: 500px;
}
td, th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.ll{
    text-align: left;
}
.rr{
    text-align: right;
    min-width: 80px;
    max-width: 200px;
}
table > tfoot > tr{
background-color: chartreuse;
}