@charset "UTF-8";
body{
    text-align: center;
}
table{
    border-collapse: collapse;
    max-width: 500px;
}
td, th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th{
    background-color: rgba(128, 128, 128, 0.493);
}
.ll{
    text-align: left;
}
.rr{
    text-align: right;
    min-width: 80px;
    max-width: 200px;
}
table > tfoot > tr{
background-color: rgba(128, 128, 128, 0.493);
}
table > caption{
    font: normal bold 20px helvetica, Sans-Serif;
    font-variant: small-caps;

}