td, th{
    border: 1px solid black;
    text-align: center;
    vertical-align: bottom;
    padding: 4px;
}

table{
    width: 70vw;
    border-collapse: collapse;
    height: 100px;
    margin-top: 50px;
}
table#anime{
    width: 600px;
}
#anime tr > td{
    padding: 20px;
}
#anime tr > td:hover,#anime tr > th:hover{
background-color: cornflowerblue;
}
#aula2 tr td{
    vertical-align: top;
}
table#lister > tbody > tr:nth-child(odd){
    background-color: gray;
}