@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
img{
    width: 100vw;
}
#acessar{
    width: 100%;
    padding: 20px;
    font: normal bold 20px helvetica, sans-serif;
    color: white;
    background-color: rgba(230, 18, 18, 0.801);
    border: 0;
}

#acessar:hover{
    background-color: red;
    transition: background-color 0.7s;
}