@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}
img{
    margin: 0; 
}
body#main{
    width: 98vw;
    height: 98.1vh;
    background-image: url("../pacote-d013/imagens/fundo-madeira.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


#iphone{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 311px;
    height: 627px;
    background-image: url("../pacote-d013/imagens/frame-iphone.png");
    background-repeat: no-repeat;
    background-size: contain;

    transform: translate(-50%, -50%);
}

iframe{
    margin-top: 83px;
    margin-left: 25px;
    width: 262px;
    height: 464px;
}
iframe::-webkit-scrollbar{
    display: none;
}


/* paginas */

#page{
    width: 262px;
    height: 464px;


}

img{
    width: 262px;
    height: 464px;
    padding: 0;
    margin: 0;
}

/* - links das redes sociais - */
ul{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
li{
    margin-right: 10px;
    margin-top: 10px;
    list-style-type: none;
}


#home{
    width: 70px;
    height: 70px;
    background: url('../pacote-d013/imagens/logo-home.jpg') no-repeat center center scroll;
    background-size: contain;
    border-radius: 50%;
    
}
#github{
    width: 70px;
    height: 70px;
    background: url('../pacote-d013/imagens/logo-github.jpg') no-repeat center center scroll;
    background-size: contain;
    border-radius: 50%;
}

#youtube{
    width: 70px;
    height: 70px;
    background: url('../pacote-d013/imagens/logo-youtube.jpg') no-repeat center center scroll;
    background-size: contain;
    border-radius: 50%;
}

#instagram{
    width: 70px;
    height: 70px;
    background: url('../pacote-d013/imagens/logo-instagram.jpg') no-repeat center center scroll;
    background-size: contain;
    border-radius: 50%;
}

#twitter{
    width: 70px;
    height: 70px;
    background: url('../pacote-d013/imagens/logo-twitter.jpg') no-repeat center center scroll;
    background-size: contain;
    border-radius: 50%;
}

#facebook{
    width: 70px;
    height: 70px;
    background: url('../pacote-d013/imagens/logo-facebook.jpg') no-repeat center center scroll;
    background-size: contain;
    border-radius: 50%;
}

.anim{
    box-sizing: border-box;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.658);
}
.anim:hover{
    border: 1px solid white;
    transform: translate(-2px, -2px);
    transition: border 1s, transform 0.4s;
}

        /* - media queries */
@media (max-height: 810px) {
    body#main{
        width: 98vw;
        height: 96vh;
        
    }
}